html {
    font-family: monospace;
    background: #000000;
    color: #20c20e;
    font-size: 12px;
    line-height: 1;
}
span {
    display: block;
    white-space: pre;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}
output {

}
